footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1.5px solid rgb(192, 37, 43);


    img {
        width: 50px;
        padding: 5px;
    }

    p {
        color: rgb(192, 37, 43);
        margin: 0;
    }
}